@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    scroll-behavior: smooth;
    --white: rgb(220, 220, 220);
    --black: rgb(14, 14, 14);
    --grey: rgb(180, 180, 180);
    --dark-grey: rgb(128, 128,128);
    --dark-dark-grey: rgb(51, 51, 51);
}

html {
    background-color: var(--black);
    color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    transition: .3s ease-out;
}

.container {
    padding: 4rem 2rem 6rem 2rem;
    font-family: 'Karla', sans-serif;   
    border-bottom: 1px solid var(--dark-dark-grey);
}

#home /* override container config*/ {
    padding: 8rem 2rem 4rem 2rem;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    display: block;
    text-decoration: none;
    color: var(--white);
}

.button {
    padding: 1.5rem 2rem;
    border-radius: 50px;
    border: 1px solid var(--white);
}

.button:hover {
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
}

.p1 {
    font-size: 6rem;
    margin-bottom: 5rem;
    font-family: 'Karla', 'Montserrat', sans-serif;
    font-weight: 600;
}

/* start navbar */

#navbar {
    padding: 0;
    width: 100vw;
    border-bottom: 1px solid var(--dark-dark-grey);
    position: fixed;
    z-index: 9999;
}

.navbar {
    padding: 1.5rem 2rem;
    background-color: var(--black);
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    align-items: center;
}

.navbar-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: .5rem;
    align-items: center;
}

.navbar a:hover {
    color: var(--grey);
    text-decoration: none;
}

@media (min-width: 1480px) {
    .navbar {
        padding: 1.5rem 0;
    }
}

/* end navbar */

/* start contact */

#contact {
    border-bottom: none;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.contact-bottom a:hover {
    text-decoration: underline;
}

.contact svg {
    width: 1rem;
    aspect-ratio: 1/1;
    position: relative;
    top: 3px;
    margin-right: .5rem;
}

.contact-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-middle .p1 {
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.contact-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-bottom a {
    color: var(--grey);
}

/* end contact */